<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2016-10-31T19:40:36Z</date>
	<key>WorkspacePath</key>
	<string>/Users/Berkant/Programmierung/Projekte/Swift/Mathe for Kids/Version 1.4/Math for Kids.xcodeproj</string>
</dict>
</plist>
